body {
    font: 14pt arial; 
    margin: 25px; 
    background-color: #f0f0f0;
}

.vin_input {
    background-color: #f0f0f0; 
    height: 80px;
    margin-right: 20%;
    margin-left: 20%;
    width:500px;
}

.demo_mv_wrapper {
    box-sizing: border-box;
    width: 730px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 15px;
    box-shadow: 3px 3px 3px #6e6e6e;
    background-color: #fff;
}
.vehicle_title {
    padding-top: 20px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    white-space: nowrap;
    cursor: default;
    font-family: open sans, sans-serif;
}
.mileage_location {
    height: 50px;
    font-size: 14px;
}
.nav-title {
    font-size: 14px;
    font-family: open sans, sans-serif;    
}
.nav-title a{
    color:#000;
}
.nav-pills a {
    color:#000;
    font-size: 13px;
}

.overview-right {
	float: right;
    display: table;
    z-index: 1000;
    position: relative;
}

.clear_height_20 {
    height: 20px;
}
.clear_height_30 {
    height: 30px;
}

#va_mv_mileage_content {
    padding-right: 10px;
}

.canvasjs-chart-credit {
    display: none;
}

#overview_histogram_chart .canvasjs-chart-canvas {
    margin-left: 70px;
}

#va_mv_assumptions h2{
    text-align: left;
    font-size:14px;
    margin-top: 14px;
    font-weight: bold;
}

#va_mv_assumptions{
    font-size: 12px;
    font-family: open sans, sans-serif;    
    text-align: left;
    padding-left: 30px;
}

#va_mv_estimates{
    float: left;
    font-size: 12px;
    font-family: open sans, sans-serif;    
    text-align: left;
    padding-left: 70px;
    padding-top: 19px;
}

/* highchart */
.highcharts-exporting-group {
    display: none;
}

.highcharts-credits {
    display: none;
}

#location_graph_chart {
    /* height: 500px;  */
    height: 349px;
    min-width: 310px;
    width: 700px; 
    background-color: transparent;
    /* max-width: 1000px;  */
    /* margin: 0 auto;  */
}
#mileage_graph_chart, #overtime_graph_chart {
    /* height: 500px;  */
    height: 289px;
    min-width: 310px;
    width: 700px; 
    background-color: transparent;
    /* max-width: 1000px;  */
    /* margin: 0 auto;  */
}
